.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 80px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation-item {
  margin-right: 20px;
}

.header__navigation-item:last-child {
  margin-right: 0;
}

.header__logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 160px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 35px;
  width: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.header__social-item:last-child {
  margin-right: 0;
}

.header__search {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-btn p {
  margin-left: 5px;
}

.header__search-btn span {
  font: size 17.5px;
}

.header__search-hide {
  display: none;
}

@media (max-width: 1050px) {
  .header__navigation-item {
    margin-right: 10px;
    font-size: 14px;
  }
  .header__social-item {
    max-width: 25px;
    margin-right: 5px;
  }
}

@media (max-width: 850px) {
  .header__navigation, .header__social {
    display: none;
  }
}

@media (max-width: 550px) {
  .header__item .select {
    display: none;
  }
  .header__search-btn p {
    display: none;
  }
  .header__search-btn span {
    font-size: 22px;
  }
}
