.video {
    padding-bottom: 80px;
    &__wrapper {
    }

    &__items {
        display: flex;
        grid-gap: 30px;
        margin: 20px -15px 0;
    }

    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__play {
        width: 19px;
        height: 21px;
        transform: translateX(2.5px);
    }

    .new-item {
        margin: 0 15px 20px 15px;
    }
}

@media (max-width: 950px) {
    .video {
        &__items {
            margin: 20px -15px 0;
        }
        .new-item {
            margin: 20px 15px;
        }
    }
}

@media (max-width: 700px) {
    .video {
        &__items {
            margin: 20px -10px 0;
        }
        .new-item {
            margin: 20px 10px;
        }
    }
}